.f1{
    margin: 15px;
    border: darkgrey;
    padding: 30px;
    background-color: linen;

}
.f1 input[type=text],input[type=password],input[type=email],input[type=tel],input[type=date],input[type=number],textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font: 20px arial,sans-serif
  }

  #sub {
    width: 100%;
    background-color:grey;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center
  }
  
  input[type=submit]:hover,button:hover {
    background-color: #12d85e;
  }
  
